<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outsourcing.combat.mapper.GameRuleMapper">
    <sql id="GameRule">
        id,Rule_Title,Rule_Description,ruleDelete
    </sql>

    <select id="getSelect" resultType="com.outsourcing.combat.pojo.GameRule">
        select
        <include refid="GameRule"/>
        from gamerule
    </select>

    <select id="getRuleDelete" resultType="com.outsourcing.combat.pojo.GameRule">
        select
        <include refid="GameRule"/>
        from gamerule
        where ruleDelete = 2
    </select>

    <select id="getSelectOneById" parameterType="Integer" resultType="com.outsourcing.combat.pojo.GameRule">
        select
        <include refid="GameRule"/>
        from gamerule
        where id = #{id} and ruleDelete = 1
    </select>

    <select id="getSelectAllByRuleTitle" parameterType="String" resultType="com.outsourcing.combat.pojo.GameRule">
        select
        <include refid="GameRule"/>
        from gamerule
        where Rule_Title like concat('%',#{ruleTitle},'%') and ruledelete = 1
    </select>

    <select id="getSelectAllByRuleDescription" parameterType="String" resultType="com.outsourcing.combat.pojo.GameRule">
        select
        <include refid="GameRule"/>
        from gamerule
        where Rule_Description like concat('%',#{ruleDescription},'%') and ruleDelete = 1
    </select>


    <update id="getUpdateById" parameterType="com.outsourcing.combat.pojo.GameRule">
        update gamerule
        <trim prefix="set" suffixOverrides=",">
            <if test="ruleTitle != null and ruleTitle != ''">
                Rule_Title = #{ruleTitle},
            </if>
            <if test="ruleDescription != null and ruleDescription != ''">
                Rule_Description = #{ruleDescription}
            </if>
        </trim>
        where id = #{id}
    </update>


    <update id="getDeleteGameRuleById" parameterType="Integer">
        update gamerule
        set ruleDelete = 2
        where id = #{id}
    </update>

    <delete id="getDeleteClearById" parameterType="Integer">
        delete from gamerule
        where id = #{id}
    </delete>

    <insert id="getInsetGameRule" parameterType="com.outsourcing.combat.pojo.GameRule">
        insert into gamerule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            Rule_Title,
            Rule_Description,
            ruleDelete
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{ruleTitle},
            #{ruleDescription},
            1
        </trim>
    </insert>
</mapper>