<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outsourcing.combat.mapper.LoginMapper">
    <select id="getSelectUserByName" parameterType="String" resultType="com.outsourcing.combat.pojo.user_login">
        select U.id, U.name, U.password, U.salt, R.role_name, M.menu_name, url from
        t_user as U, t_role as R, t_menu as M, user_role as UR, menu_role as MR
        where
        name=#{name} and U.user_id=UR.user_id and UR.role_id = R.id and R.id = MR.roler_id and MR.menu_id = M.id;
    </select>

    <select id="getSelectTRoleList" parameterType="String" resultType="com.outsourcing.combat.pojo.TRole">
        select r.* from t_user as u ,t_role as r ,user_role as ur where u.user_id = ur.user_id and ur.role_id =
        r.role_id
        and u.name = #{name}
    </select>

    <select id="getSelectTMenuList" parameterType="String" resultType="com.outsourcing.combat.pojo.TMenu">
        select M.* from
        t_user as U, t_role as R, t_menu as M, user_role as UR, menu_role as MR
        where
        name=#{name} and U.user_id=UR.user_id and UR.role_id = R.role_id and R.role_id = MR.roler_id and Mr.menu_id =
        M.id;
    </select>
</mapper>